absl-py
addict
annotated-types
astunparse
attrs
black
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
defusedxml
filelock
Flask
Flask-WTF
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib_resources
itsdangerous
jax
Jinja2
joblib
jstyleson
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
mpmath
mypy-extensions
networkx
numpy
oauthlib
onnx
opencv-contrib-python
opencv-python
openvino
openvino-dev
openvino-telemetry
opt-einsum
packaging
pandas
pathspec
pillow
platformdirs
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sounddevice
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
texttable
thop
threadpoolctl
tomli
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
urllib3
Werkzeug
wrapt
WTForms
zipp
gunicorn
streamlit
opencv-python-headless
numpy
protobuf==4.25.3
mediapipe==0.10.13