/* custom.css */

h1 {
    color: #333;
    text-align: center;
    margin-bottom: -80px; /* Adjust this value to reduce space */
}

ul.option-list a {
    color: black;
}

.option-list {
    position: absolute;
    bottom: 250px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
}

img {
    width: 1100px;
    height: 800px;
    border-radius: 30px;
    object-fit: contain;
    margin:10px;
    padding-left: 40px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container-video {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px; /* Maintain existing padding-top value */
    padding-bottom: -100px; /*Increase padding-bottom value to increase length */
    padding-left: 20px; /* Maintain existing padding-left value */
    padding-right: 20px; /* Maintain existing padding-right value */
    background-color: rgba(128, 128, 128, 0.3); /* Adjust the alpha value (0.5) to control opacity */
    border-radius: 10px; /* Adjust the value to control the amount of curvature */
    justify-content: center; /* Center content horizontally */  
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center content horizontally */  
} 
.container-video div{
    padding-bottom: 40px;
}
h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

.container-video form {
    margin-top: -80px; /* Reduce the top margin */
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
    font-size: 18px;
}
nav {
    background-color: rgba(0, 123, 255, 0.7); /* Adjust the alpha value as needed */
    margin-bottom: 50px; /* Adjust the margin-bottom value as needed */    
    border-radius: 5px; /* Add border-radius to create curved corners */
}

nav .options-container {
    text-align: left; /* Align the content to the right within the navbar */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to display items horizontally */
    
}

li {
    margin-right: 20px; /* Add some spacing between menu items */
    align-items: right;
}


a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif; /* Change font family here */
    font-size: 18px;
}

a:hover {
    background-color: rgba(0, 86, 179, 0.8); /* Adjust the alpha value for hover color */
}
