<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul class="options-container">
            <li><a href="/home">Home</a></li>
            <li><a href="/rom">Range of Motion</a></li>
            <li><a href="/sts">Sit to Stand</a></li>
            <li><a href="/tug">Timed up and Go</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Nightingale Tool</h1>
        <p>Introducing the Nightingale Tool, an advanced platform leveraging computer vision technology to facilitate three essential tests: <strong>Sit to Stand, Range of Motion, Timed Up and Go</strong> 
        <br>
        <br>
        Harnessing the power of computer vision, this innovative tool offers a seamless and precise approach to assessing mobility and functional ability.
    </p>
    </div>
</body>
</html>
